<h1>Create an article</h1>
<!Now we add a form,its a model back form and rails provides a form for helpers, find it in rails forms for helpers online>
<%= form_for @article do |f| %>
<p>
  <%= f.label :title %> <br/>
  <%=f.text_field :title %>
  <!text_field because we need something tobe typed and for description as we need a larger area we take the text area fo it>
</p>
<p>
  <%= f.label :description %> <br/>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit %>
</p>


<% end %>
